<div class='stats-container'>
    <a href='https://loki.dev.essentials.myob.com/LA/app.htm#businesses/1461289/invoices' class='label tag'>
        <span class='badge blue'>{{count}}</span> Invoices issued
    </a>
    <a href='#' class='label tag'>
        <span class='badge red'>${{due.value}}</span> Invoices due
    </a>
</div>